<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Office</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/bf21391385.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:lavender">


    <div class='dashboard'>
        <div class="dashboard-nav" style="background-color:rebeccapurple">
            <header>
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <a href="#" class="brand-logo">
                    <div class="nav-item-divider"></div>
                    <i class="fa-solid fa-briefcase" style="color:white"></i><span>The Office</span>
                </a>
            </header>
            <br /><br />
            <nav class="dashboard-nav-list">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <a class="navbar-nav "></a>
                    <a class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Count" asp-action="GetFullCount"><i class="fa-solid fa-gauge-high" style="color:floralwhite"></i>&nbsp;<span style="color:white">DashBoard</span></a><hr color="white" />
                    </a>
                </div>
                <div class="nav-item-divider"></div>
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-message" style="color:whitesmoke"></i> Messages
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Message" asp-action="Index"><i class="fa-solid fa-bars-staggered" style="color:white"></i>&nbsp;<span style="color:white">Messages Board</span></a>
                        </a>
                        <a class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="Create"><i class="fa-solid fa-circle-plus" style="color:white"></i>&nbsp;<span style="color:white">Create Messages</span></a>
                            <hr color="white" />
                        </a>
                    </div>
                </div>

                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-list-check" style="color:whitesmoke"></i> Task
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index"><i class="fa-solid fa-bars-staggered" style="color:white"></i>&nbsp;<span style="color:white">Tasks Board</span></a>
                        </a>
                        <a class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="TasksCreate"><i class="fa-solid fa-circle-plus" style="color:white"></i>&nbsp;<span style="color:white">Create Task</span></a><hr color="white" />
                            <hr color="white" />
                        </a>
                    </div>
                </div>

                <div class="nav-item-divider"></div>
                <div class="nav-item">
                    <i class="fa-regular fa-address-card" style="color:whitesmoke"></i> <span style="color:azure">  Account</span>
                </div>
                <a class="nav-item">
                    <a class="nav-link text-dark " asp-area="" asp-controller="Profile" asp-action="EditProfile"><i class="fa-sharp fa-solid fa-user-pen" style="color:floralwhite"></i><i class="fa-light fa-list-timeline" style="color:floralwhite"></i>&nbsp;<span style="color:white">Edit</span></a>
                </a>
                <a class="nav-item">
                    <a class="nav-link text-dark " asp-area="" onclick="Logout()" asp-controller="Home" asp-action="Index"><i class=" fa-solid fa-right-to-bracket" style="color:floralwhite"></i>&nbsp;<span style="color:white">Logout</span></a><hr color="white" />
                    <hr color="white" />
                </a>
        
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar' style="background-color:lavender"><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>


       <div class="container">           
          <main role="main" class="pb-3">
            @RenderBody()
          </main>
       </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            <center> &copy; 2022 - The Office - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="privacy">Privacy</a> </center>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       
    @RenderSection("Scripts", required: false)
 
  </div>
</body>
</html>
<script>
    function Logout() {

        let val = confirm("Are you sure! Do you want to logout?");
        if (val == false) {
            return event.preventDefault();
        }
    }
</script>