<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/bf21391385.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    @*<div class='dashboard'>*@
    <div class="dashboard-nav">
        <ul class="page-sidebar-menu page-holder-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top:20px">
            @*<header>*@
            @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">*@
            <nav class="dashboard-nav-list">
           @* <li class="nav-item">
                <a class="nav-link text-dark icon-beer" asp-area="" asp-controller="Profile" asp-action="EditOffice"><span style="color:white">Edit</span></a>
            </li>*@
                <i class="fa-solid fa-phone-volume"></i>
                <div>
                    <h6>
                        <span style="color:white">
                        office board</span></h6>
            </div>
            <hr/>

               @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DashBoard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>flex-sm-row-reversed-sm-inline-flex *@

            <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MessageCount" asp-action="GetFullCount"><i class="fa-solid fa-gauge-high" style="color:floralwhite"></i>&nbsp;<span style="color:white">DashBoard</span></a><hr color="white" />
                        </li>
                        <li><h2><span style="color:azure">Messages</span></h2></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Message" asp-action="Index"><i class="fa-solid fa-bars-staggered" style="color:white"></i>&nbsp;<span style="color:white">Messages Board</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="Create"><i class="fa-solid fa-circle-plus" style="color:white"></i>&nbsp;<span style="color:white">Create Messages</span></a>
                            <hr color="white" />
                        </li>
                        <li><h2><span style="color:azure">Tasks</span></h2></li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index"><i class="fa-solid fa-bars-staggered" style="color:white"></i>&nbsp;<span style="color:white">Tasks Board</span></a>
                      @* <ul>
                           <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Comment" asp-action="Index"><i class="fa-solid fa-bars-staggered" style="color:white"></i>&nbsp;<span style="color:white">Comments</span></a>
                                </li>
                        </ul>*@
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="TasksCreate"><i class="fa-solid fa-circle-plus" style="color:white"></i>&nbsp;<span style="color:white">Create Task</span></a><hr color="white" />
                        </li>
                        <li><h2><span style="color:azure">Account</span></h2></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Profile" asp-action="EditOffice"><i class="fa-sharp fa-solid fa-user-pen" style="color:floralwhite"></i><i class="fa-light fa-list-timeline" style="color:floralwhite"></i>&nbsp;<span style="color:white">Edit</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Profile" asp-action="Index2"><i class=" fa-solid fa-right-to-bracket" style="color:floralwhite"></i>&nbsp;<span style="color:white">Logout</span></a><hr color="white" />
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>







                @* </div>*@
                </nav>
        </ul>    @*</header>*@
        @* </div>*@
    </div>

    <div class='dashboard-app'>
        <div class="container">
           
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>






    <footer class="border-top footer text-muted">
        <div class="container">
            <center> &copy; 2022 - OfficeUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </center>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    </div>
</body>
</html>