@model OfficeEntity.Tasks;


<div>
    <a asp-controller="Task" asp-action="Index">Index</a>

</div>

<form method="post" enctype="multipart/form-data">
    <h2>Delete Task</h2><hr />
    <div class="form-group">
        <label>Task Id</label>
        <input type="text" asp-for="Id" class="form-control"
               placeholder="Task Id" required />
    </div>
    <div class="form-group">
        <label>Task Title</label>
        <input type="text" asp-for="Title" class="form-control"
               placeholder="Task Title" required />
    </div>
    <div class="form-group">
        <label>Task Description</label>
        <input type="text" asp-for="Description" class="form-control"
               placeholder="Task Description" required />
    </div>
    <div class="form-group">
        <label>CreatedOn</label>
        <input type="text" asp-for="CreatedOn" class="form-control"
               placeholder="CreatedOn" required />
    </div>
    <div class="form-group">
        <label>CreatedBy</label>
        <input type="text" asp-for="CreatedBy" class="form-control"
               placeholder="CreatedBy" required />
    </div>
    <div class="form-group">
        <label>Task Status</label>
        <input type="text" asp-for="Status" class="form-control"
               placeholder="CreatedOn" required />
    </div>
    <input type="submit" value="Delete" class="btn btn-outline-success" />
   
    <hr />
    @if (ViewBag.Status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message;
        </div>
    }

    else if (ViewBag.Status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message;
        </div>
    }
</form>

