
@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h1>Messages Board</h1>

<div class="form-group">
    <input type="text" class="form-control" placeholder="search text" /><button type="submit" class="btn btn-danger ">search</button>
    
</div>
<h1>lorem
    dsdsdssdv
</h1>