@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<br />
<center>
    <h1><bold>404</bold></h1>
    <br />
</center>
<center>
    <h3><bold>page not Found</bold></h3>
</center>
<br/>
<br />
<br/>
<center><h3><bold>It looks like you found a glitch in the matrix</bold></h3></center>
<div>
    <a asp-controller="Home" asp-action="Index">
        <center style="color:blue">
            <i class="fa-solid fa-arrow-left-long" style="color:blue"></i> go to dashboard
        </center>
    </a>
</div>
