<h1><bold><center>404</center></bold></h1><br/>
<h3><bold><center>go to dash board</center></bold></h3>
<br />
<div>
    <a asp-controller="Profile" asp-action="Index">
        <button type="button" class="btn btn-secondary bg-dark"> - go to dashboard</button>
    </a>
</div>
