@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h1><bold><center>404</center></bold></h1><br/>
<h3><bold><center>page not Found</center></bold></h3>
<br/>
<br />
<br/>
<h3><bold><center>It looks like you found a glitch in the matrix</center></bold></h3>
<div>
    <a asp-controller="Home" asp-action="Index">
        <center style="color:blue">
            <i class="fa-solid fa-arrow-left-long" style="color:blue"></i> go to dashboard
        </center>
    </a>
</div>
