@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h1><bold><center>404</center></bold></h1><br/>
<h3><bold><center>go to dash board</center></bold></h3>
<br />
<div>
    <a asp-controller="Profile" asp-action="Index"><center>
            <button type="button" class="btn btn-secondary bg-dark"> <i class="glyphicon glyphicon-user"></i> <- go to dashboard</button>
        </center>
    </a>
</div>
