@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>Login Page</h2>
<hr />
<form method="post">
    <div class="form-group">
        <div class="text-center">
            <label for="Email">Email</label>
        </div>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <div class="text-center">
            <label for="Password"><i class="glyphicon glyphicon-user"></i>Password</label>
        </div>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <center><input type="submit" class="btn btn-primary" value="Login" asp-route-Id="Id"></center>
    <button type="button" class="btn btn-secondary ">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <center><div class="btn btn-secondary"><a asp-controller="Profile" asp-action="Register">Register</a></div></center>
</form>*@
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                            </div>
                            <form method="post">
    <div class="form-group">
        <div class="text-center">
            <label for="Email">Email</label>
        </div>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <div class="text-center">
            <label for="Password"><i class="glyphicon glyphicon-user"></i>Password</label>
        </div>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <center><input type="submit" class="btn btn-primary" value="Login" asp-route-Id="Id"></center>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
                                <center><h5>Don't have an account?</h5><div class="btn btn-outline-secondary"><a asp-controller="Profile" asp-action="Register">Register</a></div></center>
</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
