@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="1" >
    <div class="row d-flex justify-content-center align-items-center h-75" style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/202/129/original/flat-office-desk-vector.jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .1rem; border-bottom-left-radius: .1rem; " />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <center>
                                <h3 class="mb-5 text-uppercase">Create an Account</h3>
                            </center>
                                 <form method="post">
                                    <center>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Name">Name</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Your Name">
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Email">Email</label>
                                            </div>
                                        <input type="email" class="form-control" asp-for="Email" placeholder="Enter Your Email">
                                        </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label for="UserName">UserName</label>
                                        </div>
                                        <input type="text" class="form-control" asp-for="UserName" placeholder="Enter Your UserName">
                                    </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Password">Password</label>
                                            </div>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Enter Your Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Position">Position</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="Position" placeholder="Enter Your Position">
                                        </div>

                                        <div class=" =form-group">
                                            <label>Department</label>
                                            <select class="form-control" title="Choose" asp-for="Department" >
                                                <option value="1">Choose</option>
                                                <option value="Production">Production</option>
                                                <option value="Research and Development">Research and Development</option>
                                                <option value="Testing and Maintainance">Testing and Maintainance</option>
                                                <option value="Sales">Sales</option>
                                                <option value="Marketing">Marketing</option>
                                                <option value="Human Resources">Human Resources</option>
                                                <option value="Accounting">Accounting</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                 <br />
                                    <input type="submit" class="btn" value="Register" style="background-color:mediumslateblue; color:white">
                                    </center>

                                        @if (ViewBag.status == "Ok")
                                        {
                                            <div class="alert alert-success">
                                                @ViewBag.message
                                            </div>
                                        }
                                        else if (ViewBag.status == "Error")
                                        {
                                            <div class="alert alert-danger">
                                                @ViewBag.message
                                            </div>
                                        }
                               
                                </form>
                                <div class="text-center">
                                    <span>Already have an account? </span>
                                    <a class="small" asp-controller="Profile" asp-action="Login" routerLink="/auth/login"><i class="fa-sharp fa-solid fa-right-to-bracket" title="Login"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</section>
















@*<div  class="container-fluid mt-4" >
    <div class="overflow-hidden">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form method="post">
                                    <center>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Name">Name</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="Name">
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Email">Email</label>
                                            </div>
                                            <input type="email" class="form-control" asp-for="Email">
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Password">Password</label>
                                            </div>
                                            <input type="password" class="form-control" asp-for="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Position">Position</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="Position">
                                        </div>
                                        
                                        <div class=" =form-group">
                                            <label>Department</label>
                                            <select class="form-control" title="Choose" asp-for="Department">   
                                                <option value="1">   </option>
                                                <option value="Production">Production</option>
                                                <option value="Research and Development">Research and Development</option>
                                                <option value="Testing and Maintainance">Testing and Maintainance</option>
                                                <option value="Sales">Sales</option>
                                                <option value="Marketing">Marketing</option>
                                                <option value="Human Resources">Human Resources</option>
                                                <option value="Accounting">Accounting</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="UserName">UserName</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="UserName">
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Register">
                                    </center>
                                  
                                    @if (ViewBag.status == "Ok")
                                    {
                                        <div class="alert alert-success">
                                            @ViewBag.message
                                        </div>
                                    }
                                    else if (ViewBag.status == "Error")
                                    {
                                        <div class="alert alert-danger">
                                            @ViewBag.message
                                        </div>
                                    }
                                  
                                </form>
                                <div class="text-center">
                                    <span>Already have an account? </span>
                                    <a class="small" asp-controller="Profile" asp-action="Login" routerLink="/auth/login"><i class="fa-sharp fa-solid fa-right-to-bracket" title="Login"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>*@
