@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Begin Page Content -->
<section class="vh-75" style="background-color:lavender;">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://officesnapshots.com/wp-content/uploads/2021/05/fast-office-coworking-moscow-2-768x1152-compact.jpg"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem; height:700px" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post">
                                    <center>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Name">Name</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="name" placeholder="Enter Your Name" required>
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Email">Email</label>
                                            </div>
                                            <input type="email" class="form-control" asp-for="email" placeholder="Enter Your Email" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="UserName">UserName</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="userName" placeholder="Enter Your UserName" required>
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Password">Password</label>
                                            </div>
                                            <input type="password" class="form-control" asp-for="password" placeholder="Enter Your Password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="Position">Position</label>
                                            </div>
                                            <input type="text" class="form-control" asp-for="position" placeholder="Enter Your Position" required>
                                        </div>

                                        <div class=" =form-group">
                                            <label>Department</label>
                                            <select class="form-control" title="Choose" asp-for="department" required>
                                                <option value="1">Choose</option>
                                                <option value="Production">Production</option>
                                                <option value="Research and Development">Research and Development</option>
                                                <option value="Testing and Maintainance">Testing and Maintainance</option>
                                                <option value="Sales">Sales</option>
                                                <option value="Marketing">Marketing</option>
                                                <option value="Human Resources">Human Resources</option>
                                                <option value="Accounting">Accounting</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                        <br />
                                        <input type="submit" class="btn" value="Register" style="background-color:mediumslateblue; color:white">
                                    </center>
                                    @if (ViewBag.status == "Ok")
                                    {
                                        <div class="alert alert-success">
                                            @ViewBag.message
                                        </div>
                                    }
                                    else if (ViewBag.status == "Error")
                                    {
                                        <div class="alert alert-danger">
                                            @ViewBag.message
                                        </div>
                                    }

                                </form>
                                    <div class="text-center">
                                    <span>Already have an account? </span>
                                    <a class="small" asp-controller="Profile" asp-action="Login" routerLink="/auth/login"><i class="fa-sharp fa-solid fa-right-to-bracket" title="Login"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>











