@model OfficeEntity.Dashboard;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Office</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
    <div class="row responsive">
        <div class="col-7">
                <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                    <a href="https://gifimage.net/wp-content/uploads/2017/10/business-gif-10.gif">
                    <img src="https://gifimage.net/wp-content/uploads/2017/10/business-gif-10.gif" alt="The Office" width="50" height="50">
                    </a>
                    <h1 style="color:rebeccapurple"><b>The Office</b></h1>
                </nav>
        </div>  
        <div class="col-2">
            <pre></pre>
           @* <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item mr-2 mb-3 mb-lg-0">*@
                    <a class="btn btn-primary" asp-controller="Contact" asp-action="CreateContact">Support Desk</a>
                @*</li>
            </ul>*@

        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <pre></pre>
           @* <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item mr-2 mb-3 mb-lg-0">*@
                    <a class="btn btn-primary" asp-controller="Profile" asp-action="Login">Get Started <i class="fa-solid fa-arrow-right"></i></a>
               @* </li>
            </ul>*@

        </div>
    </div>
    <br />
    <br />
    </header>
    <main class="page-about">
        <div class="container">
            <section class="foi-page-section pt-0">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0 pr-lg-0">
                        <h2 class="about-section-one-title">
                            Be Focused,Fast and First 
                        </h2>
                        <div class="about-section-one-content">
                            <p>
                                Streamline your work for
                                maximum productivity
                                Centralize all your work, processes, tools. Connect teams and maintain one source of truth across your organization.
                            </p>

                            <p>
                                Stay on track to
                                reach your goals, faster
                                Get a high-level overview of your organization with customizable dashboards. Make confident decisions and easily scale workflows for your evolving needs.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 pl-lg-0 d-flex align-items-center align-items-lg-end">
                        <img src="https://bootstrapdash.com/demo/foi-app-landing-page/assets/images/about_img_1.png" alt="about" class="img-fluid" width="448">
                    </div>
                </div>
            </section>
            <section class="foi-page-section">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="https://th.bing.com/th/id/OIP.mt4upJ4WqkmDGgyR2NycLAHaE7?pid=ImgDet&rs=1" alt="about 2" class="w-100 img-fluid pr-md-5" width="437">
                    </div>
                    <div class="col-md-6">
                        <h2 class="about-section-two-title">We create the best <span class="font-weight-normal">solution for you and your business.</span></h2>
                        <div class="about-section-two-content">
                            <p>
                                Bring teams together to
                                drive business impact
                                Collaborate effectively org
                            anization-wide to get a clear picture of all your work. Stay in the loop with easy-to-use automations and real-time notifications.</p>                   
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
   
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>


</body>
</html>