@model OfficeEntity.Message
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<h1>Delete</h1>



<div>
    <hr />
    <a asp-controller="Message" asp-action="Index">Create</a>
    <hr />
</div>



<form method="post" enctype="multipart/form-data">
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

