@model OfficeEntity.Message
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@*<h1>Edit</h1>*@



<div>
    <hr />
    <a asp-controller="Message" asp-action="Index">message</a>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">

    <div class="container-fluid mt-4">
        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <!-- nested row within card body -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" style="color:lightskyblue"><b>Edit Message</b></h1>
                            </div>
                            <form class="user" method="post" [formgroup]='messageform' (ngsubmit)='create()'>
                                <div class="form-group">
                                    <label>id</label>
                                    <input type="text" asp-for="Id" class="form-control" placeholder="Enter Id" required />
                                </div>
                                <div class="form-group">
                                    <label>title</label>
                                    <input type="text" asp-for="Title" class="form-control" placeholder="Enter Title" required />
                                </div>



                                <div class="form-group">
                                    <label>content</label>
                                    <textarea class="form-control" asp-for="Content" rows="12" placeholder="Enter Content"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>CreatedOn</label>
                                    <input type="date" asp-for="CreatedOn" class="form-control" placeholder="Enter Date" required />
                                </div>

                                <div class="form-group">
                                    <label>ProfileId</label>
                                   <input type="text" asp-for="PId" class="form-control" placeholder="Enter ProfileId " required />
                                </div>

                               <div class="row">
                                    <div class="col-6">
                                       <input type="submit" value="Edit" class="btn btn-success btn-user btn-block my-4" />

                                        </div>
                               
                                  @*  <div class="col-6">

                                        <input type="reset" value="cancel" class="btn btn-outline-danger btn-user btn-block my-4" />
                                    </div>*@

                                    </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

@*<form method="post" enctype="multipart/form-data">
    <h2>edit</h2>
    <div class="form-group">
        <label> Id </label>
        <input type="text" asp-for="Id" class="form-control" placeholder="enter Id" required />
    </div>
    <div class="form-group">
        <label> Title </label>
        <input type="text" asp-for="Title" class="form-control" placeholder="enter Title" required />
    </div>
    <div class="form-group">
        <label>Content </label>
        <input type="text" asp-for="Content" class="form-control" placeholder="enter Content" required />
    </div>
    <div class="form-group">
        <label> ProfileId </label>
        <input type="text" asp-for="PId" class="form-control" placeholder="enter PId" required />
    </div>



    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>*@
