@model IEnumerable<OfficeEntity.Message>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<nav>
    <div class="header text-uppercase" style="color:White ; text-decoration-style:solid">
        <h1>Message Board</h1>
    </div>
</nav>
<asp:ScriptManager ID="script1" runat="server"></asp:ScriptManager>

@using (Html.BeginForm())
{
    <p>
        <form method="post">
            Title &nbsp;@Html.TextBox("searchtitle")
            <input type="submit" value="search" />
        @*<asp:UpdatePanel ID="panel1" runat="server"><ContentTemplate>
               

                    @*onclick="myobject"
            </ContentTemplate>
        </asp:UpdatePanel>*@
        </form>
    </p>
}
    @foreach (var message in Model)
    {
<div class="row">
    <div class="col-lg-12" *ngFor="let message of (messages|filter:filterTerm).slice(0, show)">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header">
                    <div class="card-title">
                       
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">@message.Title</h6>
                            &nbsp;
                <!-- Circle Buttons (Small) -->
                <div style="display: inline;">
                            <a asp-controller="Message" asp-action="Edit" asp-route-Id=@message.Id><i class="fa-solid fa-pen-to-square" style="color:seagreen"></i></a>&nbsp;
                            <a asp-controller="Message" onclick="MyDelete()" asp-action="Delete" asp-route-Id=@message.Id><i class="fa-solid fa-trash" style="color:red"></i></a>
                        </div>
                </div>
            </div>
           
            <div class="card-body">
                    <div [innerHTML]="message.content"></div>@message.Content
                <hr>
                <p>
                    <small class="text-muted">
                        Created On: <strong>
                           @message.CreatedOn
                        </strong>
                    </small> |
                    <small class="text-muted">
                        Author:
                            <a><strong>@message.Profile.Name</strong></a>
                    </small>
                </p>
            </div>
        </div>
    </div>
               
        </div>
    }

<div class="mb-4 ml-4">
     <form method="post">
    <a>
        <a asp-controller="message" asp-action="index1" class="btn btn-danger">Load All</a>
    </a>
     </form>
</div>



<script>
    function MyDelete() {

        let val = confirm("Do you want to delete the message?");
        if (val == false) {
            return event.preventDefault();
        }
    }

    @*function myobject(){
        document.getElementById("myobject").clientWidth="400";
    }*@
</script>