@model IEnumerable<OfficeEntity.Message>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Begin Page Content -->
<nav>
    <div class="header text-uppercase" style="color:White ; text-decoration-style:solid">
        <h1>Message Board</h1>
    </div>
</nav>


@using (Html.BeginForm())
{
    <p>
        <form method="post">
            Title &nbsp;@Html.TextBox("searchtitle")
            <button asp-action="Index" asp-controller="Message" asp-route-searchtitle=@Html.TextBox("searchtitle")>Search</button>
           
        </form>
    </p>
}
@foreach (var message in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header">
                    <div class="card-title">
                        <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">@message.title</h6>
                        &nbsp;
                        <!-- Circle Buttons (Small) -->
                        <div style="display: inline;">
                            @if (message.pId == Convert.ToInt32(TempData["LoginID"]))
                            {
                                TempData.Keep();
                            <a asp-controller="Message" asp-action="Edit" asp-route-Id=@message.id><i class="fa-solid fa-pen-to-square" style="color:mediumorchid" title="Edit"></i></a>
                            <a asp-controller="Message" onclick="MyDelete()" asp-action="Delete" asp-route-Id=@message.id><i class="fa-solid fa-trash" style="color:darkmagenta" title="Delete"></i></a>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div [innerHTML]="message.content"></div>@message.content
                    <hr>
                    <p>
                        <small class="text-muted">
                            Created On: 
                            <strong>
                                @message.createdOn
                            </strong>
                        </small> |
                        <small class="text-muted">
                            Author:
                            <a><strong>@message.Profile.name</strong></a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<div class="mb-4 ml-4">
    <form method="post">
        <a>
            <a asp-controller="Message" asp-action="Index" class="btn" style="background-color:mediumslateblue; color:white">Load Less</a>
        </a>
    </form>
</div>


<script>
    function MyDelete() {

        let val = confirm("Do you want to delete the message?");
        if (val == false) {
            return event.preventDefault();
        }
    }
</script>